<header class="main-header">
  <input type="checkbox" id="menu-control">
  <div class="container">
    <h1 class="logo">
      <a href="index.html">
        <picture>
          <source srcset="img/logo-bear-70.webp" media="(min-width: 768px)">
          <source srcset="img/logo-bear.png">
          <img src="img/logo-bear.png" />
        </picture>
      </a>
      <label for="menu-control" class="hb">
        <span class="sr-only">選單開關</span>
        <span></span>
        <span></span>
        <span></span>
      </label>
    </h1>

    <nav class="main-nav">
      <a href="#">議程</a>
      <a href="#">講者</a>
      <a href="#">會場</a>
    </nav>
  </div>
</header>




<section class="section-kv">
  <div class="container">
    <div class="kv-txt">
      <h1>ANGULAR <small>'19</small></h1>
      <p class="sec-focus"><span>技術在我們手上 </span><span> 世界就在我們手上</span></p>
      <p class="kv-location">礁溪老爺酒店 11/2 - 3, 2019</p>
    </div>
    <picture>
      <source srcset="img/kv-bear-24-80.webp" media="(min-width: 768px)">
      <source srcset="img/kv-bear-24.png">
      <img src="img/kv-bear-24.png" />
    </picture>
  </div>
</section>




<section class="section-itinerary">
  <div class="container">
    <div class="main-title">
      <h2>行程</h2>
    </div>
    <div class="content">
      <div class="item">
        <h3>工作坊</h3>
        <picture>
          <source srcset="img/bear-book-24-70.webp" media="(min-width: 768px)">
          <source srcset="img/bear-book-24.png">
          <img src="img/bear-book-24.png" />
        </picture>
        <time>11月2日</time>
        <p>透過手把手的 Workshop 可以讓你在短時間內得到意想不到的成果</p>
      </div>
      <div class="item">
        <h3>議程</h3>
        <picture>
          <source srcset="img/bear-event-24-70.webp" media="(min-width: 768px)">
          <source srcset="img/bear-event-24.png">
          <img src="img/bear-event-24.png" />
        </picture>
        <time>11月3日</time>
        <p>學習最新的 Angular 與前端技術，吸收他人在實務上的踩雷經驗，我們安排足夠的時間讓你能與講者和其它與會者，進行更進一步的交流討論</p>
      </div>
      <div class="item">
        <h3>After party</h3>
        <picture>
          <source srcset="img/bear-after-party-24-70.webp" media="(min-width: 768px)">
          <source srcset="img/bear-after-party-24.png">
          <img src="img/bear-after-party-24.png" />
        </picture>
        <time>11月2日</time>
        <p>經過一個下午的高密度強迫成長後，當然需要好好的放鬆一下，才能迎接隔日更精彩的議程內容</p>
      </div>
    </div>
  </div>
</section>




<section class="section-ticket">
  <div class="container">
    <div class="group">
      <div class="main-title">
        <h2>票價</h2>
        <p>$4, 200 / 人</p>
        <p>兩天活動，含活動間的三次茶點與第二天的午餐</p>
      </div>
      <div class="content">
        <picture>
          <source srcset="img/bear-book-24-70.webp" media="(min-width: 768px)">
          <source srcset="img/bear-book-24.png">
          <img src="img/bear-book-24.png" />
        </picture>
        <div class="more">
          <a href="#"></a>
        </div>
      </div>
    </div>
    <picture>
      <source srcset="img/ticket-cur.svg" media="(min-width: 768px)">
      <source srcset="img/ticket-cur.svg">
      <img src="img/ticket-cur.svg" />
    </picture>
  </div>
</section>




<section class="section-venue">
  <div class="container">
    <div class="main-title">
      <h2>
        會場資訊
      </h2>
    </div>
    <div class="content">
      <picture>
        <a href="https://goo.gl/maps/EzT5YRTXtJD3rYEu9" target="_blank">
          <source srcset="img/map.png" media="(min-width: 768px)">
          <source srcset="img/map.png">
          <img src="img/map.png" />
        </a>
      </picture>
      <div class="txt">
        <section class="item-group">
          <h3>位置</h3>
          <div class="item-section">
            <h4 class="building-name">宜蘭礁溪老爺飯店</h4>
            <address class="address">台灣宜蘭礁溪鄉大忠村五峰路69號</address>
          </div>
        </section>
        <section class="item-group">
          <h3>交通</h3>
          <div class="item-section">
            <h4 class="traffic">自行開車</h4>
            <span>經由蘇花公路抵達礁溪後往五峰旗風景區方向約五分鐘即可到達</span>
          </div>
          <div class="item-section">
            <h4 class="traffic">大眾交通</h4>
            <ul>
              <li>首都客運1572路線：台北市(市府轉運站)→礁溪轉運站</li>
              <li>葛瑪蘭客運1915路線：台北市(台北國道客運轉運站)→礁溪轉運站</li>
              <li>國光客運1881路線：台北市(圓山轉運站-玉門)→礁溪轉運站</li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>





<footer class="main-footer">
  <h2>聯絡大會</h2>
  <div class="container">
    <picture>
      <source srcset="img/logo-bear-70.webp" media="(min-width: 768px)">
      <source srcset="img/logo-bear.png">
      <img src="img/logo-bear.png" />
    </picture>
    <div class="footer-txt">
      <!-- <p>
        關注大會動態
        <span class="social-media">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="ig"><i class="fa fa-instagram"></i></a>
          <a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a>
        </span>
      </!-->
      <p>聯絡大會 contact@angular.tw</p>
      <p>行為準則. 我們依從大會行為準則，以確保所有與會者都能在大會活動期間受到應有的尊重。 <span class="copyright">All Rights Reserved ©
          2019</span></p>
    </div>
  </div>
</footer>





<a class="backTop">
  <picture>
    <source srcset="img/backTotop-24-70.webp" media="(min-width: 768px)">
    <source srcset="img/backTotop-24.png">
    <img src="img/backTotop-24.png" />
  </picture>
</a>
