<section class="section-kv">
  <div class="container">
    <div class="kv-txt">
      <h1>ANGULAR <small>'19</small></h1>
      <p class="sec-focus">
        <span>技術在我們手上 </span><span> 世界就在我們手上</span>
      </p>
      <p class="kv-location">礁溪老爺酒店 11/2 - 3, 2019</p>
      <p>
        <a class="btn-buy" href="https://www.accupass.com/go/ngtw2019" target="_blank"
           aria-label="go to ticket purchase website" rel="noopener">購票去</a>
      </p>
    </div>
    <picture loading="lazy">
      <source srcset="img/kv-bear-24-80.webp" media="(min-width: 768px)" type="image/webp" />
      <source srcset="img/kv-bear-24.png" type="image/png" />
      <img src="img/kv-bear-24.png" alt="banner image" />
    </picture>
  </div>
</section>
<section class="section-itinerary">
  <div class="container">
    <div class="main-title">
      <h2>行程</h2>
    </div>
    <div class="content">
      <div class="item">
        <h3>工作坊</h3>
        <picture loading="lazy">
          <source srcset="img/bear-book-24-70.webp" media="(min-width: 768px)" type="image/webp" />
          <source srcset="img/bear-book-24.png" type="image/png" />
          <img src="img/bear-book-24.png" alt="workshop" />
        </picture>
        <time datetime="2019-11-02T12:00">11月2日</time>
        <p>透過手把手的 Workshop 可以讓你在短時間內得到意想不到的成果</p>
      </div>
      <div class="item">
        <h3>議程</h3>
        <picture loading="lazy">
          <source srcset="img/bear-event-24-70.webp" media="(min-width: 768px)" type="image/webp" />
          <source srcset="img/bear-event-24.png" type="image/png" />
          <img src="img/bear-event-24.png" alt="presentation" />
        </picture>
        <time datetime="2019-11-03T09:00">11月3日</time>
        <p>
          學習最新的 Angular
          與前端技術，吸收他人在實務上的踩雷經驗，我們安排足夠的時間讓你能與講者和其它與會者，進行更進一步的交流討論
        </p>
      </div>
      <div class="item">
        <h3>After Party</h3>
        <picture loading="lazy">
          <source srcset="img/bear-after-party-24-70.webp" media="(min-width: 768px)"
                  type="image/webp" />
          <source srcset="img/bear-after-party-24.png" type="image/png" />
          <img src="img/bear-after-party-24.png" alt="After Party" />
        </picture>
        <time datetime="2019-11-02T18:00">11月2日</time>
        <p>
          經過一個下午的高密度強迫成長後，當然需要好好的放鬆一下，才能迎接隔日更精彩的議程內容
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-ticket">
  <div class="container">
    <div class="group">
      <div class="main-title">
        <h2>票價</h2>
        <p>$4, 200 / 人</p>
        <p>兩天活動</p>
        <p>三次茶點、第二天高檔午餐</p>
      </div>
      <div class="content">
        <picture loading="lazy">
          <source srcset="img/bear-book-24-70.webp" media="(min-width: 768px)" type="image/webp" />
          <source srcset="img/bear-book-24.png" type="image/png" />
          <img src="img/bear-book-24.png" alt="Ticket price" />
        </picture>
        <!-- <div class="more">
          <a href="#"></a>
        </div> -->
      </div>
    </div>
    <picture loading="lazy">
      <source srcset="img/ticket-cur.svg" media="(min-width: 768px)" type="image/svg+xml" />
      <source srcset="img/ticket-cur.svg" type="image/svg+xml" />
      <img src="img/ticket-cur.svg" alt="ticket-background" />
    </picture>
  </div>
</section>

<section class="section-venue">
  <div class="container">
    <div class="main-title">
      <h2>
        會場資訊
      </h2>
    </div>
    <div class="content">
      <a href="https://goo.gl/maps/EzT5YRTXtJD3rYEu9" target="_blank" aria-label="go to google map"
         rel="noopener">
        <picture loading="lazy">
          <source srcset="img/map-70.webp" media="(min-width: 768px)" type="image/webp" />
          <source srcset="img/map.png" type="image/png" />
          <img src="img/map.png" alt="map" />
        </picture>
      </a>
      <div class="txt">
        <section class="item-group">
          <h3>位置</h3>
          <div class="item-section">
            <h4 class="building-name">宜蘭礁溪老爺飯店</h4>
            <address class="address">台灣宜蘭礁溪鄉大忠村五峰路69號</address>
          </div>
        </section>
        <section class="item-group">
          <h3>交通</h3>
          <div class="item-section">
            <h4 class="traffic">自行開車</h4>
            <span>經由蘇花公路抵達礁溪後往五峰旗風景區方向約五分鐘即可到達</span>
          </div>
          <div class="item-section">
            <h4 class="traffic">大眾交通</h4>
            <ul>
              <li>首都客運1572路線：台北市(市府轉運站)→礁溪轉運站</li>
              <li>葛瑪蘭客運1915路線：台北市(台北國道客運轉運站)→礁溪轉運站</li>
              <li>國光客運1881路線：台北市(圓山轉運站-玉門)→礁溪轉運站</li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
