//gradient position and angle
$angle1: -32deg;
$angle2: -27deg;
$angle3: -27deg;
$angle4: -10deg;
$pos1s: 45%;
$pos1e: $pos1s + 0.1;
$pos2s: 47%;
$pos2e: $pos2s + 0.1;
$pos3s: 48%;
$pos3e: $pos3s + 0.1;
$pos4s: 58%;
$pos4e: $pos4s + 0.1;